@media (min-width: 540px) {
    main section {
        max-width: 42rem;;
    }
}

@media (min-width: 768px) {
    main section {
        max-width: 65rem;
    }
}

@media (min-width: 1024px) {
    main section {
        grid-template-areas: 'A B'
        'C D';
        max-width: 80rem;
    }
    
    .card:nth-child(1){
        grid-area: A;
    }

    .card:nth-child(2){
        grid-area: B;
    }

    .card:nth-child(3){
        grid-area: C;
    }

    .card:nth-child(4){
        grid-area: D;
    }

    .card:nth-child(1) img,
    .card:nth-child(2) img,
    .card:nth-child(3) img,
    .card:nth-child(4) img {
        height: 35rem;
    }
}